###############################################################
#                                                             #
# This is a File to configure the master/slave                #
# mongodb verifier service                                    #
#                                                             #
###############################################################

[SERVER]
master=
port=
