###############################################################
#                                                             #
# This is a File to configure the master/slave                #
# mongodb verifier service                                    #
#                                                             #
###############################################################
[NAME]
name=rs
number_of_servers=

[SERVERS]
path=
